color=#f26b11
*
  margin: 0
  padding: 0
  box-sizing: border-box

li
  list-style: none

body
  font-size: .32rem

img
  width: 100%
  height 100%
  display: block

input,button
  border: none
  outline: none

.pd
  padding: .3rem

html,body,#app
  width: 100%
  height: 100%
